
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD OPERATION</title>
  </head>
  <body bgcolor="#fcf279">
    <div class="container" align="center">
    <h1><u>UPDATION FORM</u><h1>
      <form method="post">
        Employee number:<input type="text" name= "eno" value="{{Emp.eno}}"><br>
        Employee name:<input type="text" name= "ename" value="{{Emp.ename}}"><br>
        Employee sal:<input type="text" name= "esal" value="{{Emp.esal}}"><br>
        Employee addr:<input type="text" name= "eaddr" value="{{Emp.eaddr}}">
        {% csrf_token %}
        <br><br><input type="submit" class= "btn btn-lg btn-primary" value="submit">
      </form>
    </div>
  </body>
</html>
