<html lang="en" dir="ltr">
{%extends 'myApp/parent.html'%}
  <body style="background-color:yellow">
    {% block for_child%}
    <div class="jumbotron">
      <div class="container" align="center">
        <h1 style="color:red">Login To Proceed</h1><br>
        <form  method="post">
          {{form.as_p}}
          {%csrf_token%}
          <input type="submit" class="btn btn-primary" value="submit"><br><br>
          <h4>I don't have an account!</h4>
          <b><a href="/signup"  class="btn btn-primary" value="submit">SIGN-UP HERE</a></b>

        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
